body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

textarea {
    border: none;
    background-color: lightgray;
    font-weight: bold;
    font-size: 14px;
    padding: 12px;
}

.fullbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.yellow-btn {
    background-color: orange;
    color: black;
    padding: 8px 5px;
    margin: 10px;
    width: 120px;
}

.post-btn-hdr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.post-modal-content {
    background-color: #fefefe;
    margin: auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 100px;
    /* Could be more or less, depending on screen size */
}

.green-button-no-stretch {
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
    width: 15%;
}

.button-container {
    display: flex;
    justify-content: space-around;
}