body {
    background-color: #FFEEDD;
}

.card-flex {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.card-content {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #E8E8E8;
    border-radius: 0px 10px 10px 0px;
}

.post-title {
    color: #9C8181;
}

.delete-icon {
    float: right;
    font-size: 24px;
    color: #9C8181;
}

.post-author {
    font-weight: bold;
    text-align: center;
    color: #707087;
}