body {
    background-color: white;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.author-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    margin-top: 12px;
    margin-bottom: 12px;
}

.post-author {
    font-size: 23px;
}

.post-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.post-content {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.new-comment {
    width: 70%;
    height: 100px;
}

.comment-btn {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    background-color: #ED2553;
    width: 7%;
    border: none;
    height: 30px;
    cursor: pointer;
}

.comment-container {
    background-color: #E2E4E6;
    padding: 20px;
    overflow: auto;
}

.comment-entry {
    background-color: white;
    padding: 20px;
}